DEBUG=True


PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

SECRET_KEY=IFJABSJFK&@!**!#@#1230*7&
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='utube.nischal@gmail.com'
EMAIL_HOST_PASSWORD='asd'
EMAIL_PORT=587
CLIENT_URL='https://expensetracker.up.railway.app/admin/'
ADMIN_URL='https://expensetracker.shrestha-nischal.com.np'

CELERY_TIMEZONE=Asia/Kathmandu


REDISHOST=
REDISPASSWORD=
REDISPORT=5435
REDISUSER=default
REDIS_URL=redis://${{ REDISUSER }}:${{ REDISPASSWORD }}@${{ REDISHOST }}:${{ REDISPORT }}