{% extends 'partial/base.html' %}
{%load static%}
{% block content %}

<!--Income Modal -->
<div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Income Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='income_form'>
            <div class="form-group">
                <label for="DescriptionText">Description</label>
                <input type="text" class="form-control" id="DescriptionText" aria-describedby="" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="AmountText">Amount</label>
                <input type="number" min='0' class="form-control" id="AmountText" placeholder="Amount">
            </div>
            
            <button type="submit" class="btn btn-success" id='add-income-submit'>Add Income</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Expense Modal -->
<div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Expense Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='expense_form'>
            <div class="form-group">
                <label for="expDescriptionText">Description</label>
                <input type="text" class="form-control" id="expDescriptionText" aria-describedby="" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="expAmountText">Amount</label>
                <input type="number" min='0' class="form-control" id="expAmountText" placeholder="Amount">
            </div>
            
            <button type="submit" class="btn btn-danger" id='add-expense-submit'>Add Expense</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Trans Modal -->
<div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='edit_form'>
            <div class="form-group">
                <label for="DescriptionText">Description</label>
                <input type="text" class="form-control" id="editDescriptionText" aria-describedby="" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="AmountText">Amount</label>
                <input type="number" min='0' class="form-control" id="editAmountText" placeholder="Amount">
            </div>
            
            <button type="submit" class="btn btn-warning" id='update-submit'>Update</button>
            <button class='btn btn-small btn-danger tran-delete'> Delete </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<h1>Your Balance: Rs. <span id='balance_amt'>0</span>/- </h1>
<hr>

<form action="" method="get" id='filter-form'>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState"><h6>Type:</h6></label>
      <select class="custom-select" id='Transasction_Filter'>
        <option value="">All Transactions</option>
        <option value="DEBIT">Income</option>
        <option value="CREDIT">Expenses</option>
      </select>
    </div>

    <div class="form-group col-md-3">
    <label for="inputState"><h6>Start Date:</h6></label>
      <input type="date" autocomplete="false" class='form-control' id='sdate-filter'>
    </div>

    <div class="form-group col-md-3">
    <label for="inputState"><h6>End Date:</h6></label>
      <input type="date" autocomplete="false" class='form-control' id='edate-filter'>
    </div>

    <div class="form-group col-md-3">
    <label for="inputState"><h6></h6></label>
      <input type="button" autocomplete="false" class='btn btn-secondary' id='clear-filter' value='Clear Filters'>
    </div>

    <div class="form-group col-md-4">
      <input type="text" autocomplete="false" class='form-control' id='search-filter' placeholder='Search By Description'>
    </div>

</form>

<div class="sticky-top fixed-top bg-light">
<button type="button" class="btn btn-warning" id='add-trans-btn'>
  Add Income
</button>
<button type="button" class="btn btn-secondary" id='add-exp-trans-btn'>
  Add Expense
</button>
</div>

<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col" class='col-6'>Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id='tbody'>
  </tbody>
</table>
<span class="pagination-span"></span>
{% endblock content %}
{% block javascript %}
  <script src="{% static 'main/home.js' %}"></script>
{% endblock javascript %}